body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2d2d;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  border: 1px solid black;
}

header, footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

div{
  margin: 2%;
  background-color: green;
}

/*main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: green;
}

#gameContainer {
  width: 1024px;
  height: 720px;
  border: 1px solid black;
  background-color: rgb(6, 174, 6);
}*/
